
<div class="gallery">

<%= form_for @form, as: :gallery do |f| %>

  <% present @form, f do |presenter| %>
    <%= presenter.images %>
    <%= f.submit "Update Gallery" %>
  <% end %>

<% end %>

</div>

